.logout-col {
    margin: auto 0;
    text-align: center;
}

.logout-button {
    margin: 0 auto;
}

.pay-for-contract-button-container{
    width:100%;
    text-align: center;
    margin-top: 10px;
}